body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-style: none;
}
input {
  height: 24px;
}
span {
  color: black;
  background-color: white;
  padding: 10px;
  }


